alias vim=nvim
alias dcp='docker-compose'
alias g='git'
alias gs='git status'
alias gti='git'
alias igt='git'
alias k='kubectl'

if [[ "$OSTYPE" == "darwin"* ]]; then
    alias l='ls -FG'
    alias ll='\ls -lhFG'
else
    alias l='ls -F --color'
    alias ll='\ls -lh --group-directories-first --color'
    alias ls='ls --color'
fi

alias mux='tmuxinator'
alias wo='workon'

alias datetoday='date +"%Y%m%d"'
alias datenow='date +"%Y%m%d%H%M"'

# https://github.com/kubernetes/kubernetes/issues/17512#issuecomment-317757388
alias kresources='kubectl get nodes --no-headers | awk '\''{print $1}'\'' | xargs -I {} sh -c '\''echo {} ; kubectl describe node {} | grep Allocated -A 5 | grep -ve Event -ve Allocated -ve percent -ve -- ; echo '\'''
