alias dcp='docker-compose'
alias g='git'
alias gs='git status'
alias gti='git'
alias igt='git'
alias k='kubectl'
alias kube='kubectl'
alias l='ls -F --color'
alias ll='\ls -lh --group-directories-first --color'
alias ls='ls --color'
alias mux='tmuxinator'
alias wo='workon'

# http://moviethumbnail.sourceforge.net/
alias mtn='/opt/mtn-200808a-linux/mtn -f /opt/mtn-200808a-linux/LiberationMono-Bold.ttf -c 4 -r 6 -w 1280 -s 320'

alias datetoday='date +"%Y%m%d"'
alias datenow='date +"%Y%m%d%H%M"'
